<div class="wrapper">
    <div class="login-text">
      <button class="cta"><i class="fas fa-chevron-down fa-1x"></i></button>
      <div class="text">
        <a href="">Login</a>
        <hr>
        <br>
        <input type="text" placeholder="Username">
        <br>
        <input type="password" placeholder="Password">
        <br>
        <button class="login-btn"(click)="onclick()" >Log In</button>
        <button class="signup-btn"(click)="onclick()">Sign Up</button>
      </div>
    </div>
    
  
  </div>